/* Palheta de Base:
#0D0C12
#ED3F5C
#03D1AF
#1D1D8B
#F1F1F1
*/

main{
    display: flex;
    flex-direction: row;
    
}

.campaign-menu{
    flex: 0 0 300px;
    min-height: 600px;
    background: #f1f1f1;
}

.campaign-menu-button{
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 5px;
}

.campaign-menu-title{
    text-align: center;
    margin: 0.5em;
    font-size: larger;
    font-weight: bold;
}

.setting-menu-item{
    margin: 0 1em;
    font-size: large;
    font-weight: bold;
    padding: 0.4em 0;
}

.expanded::before{
    content: "\1F836 ";
    padding: 0 10px 0 0;
}

.collapsed::before{
    content: "\1F837 ";
    padding: 0 10px 0 0;
}

.campaign-menu-item{
    margin: 0 1em 0 1.4em;
    font-size: large;
    font-weight: 400;
    padding: 0.4em 0;
    transition: 0.5s;
}

.campaign-menu-item button{
    border: none;
    background: none;
}

.campaign-menu-item button:hover{
    color: blue;
    text-decoration: underline;
}

.campaign-menu-item button:active{
    margin-left: 2px;
}

.campaign-menu-item button:disabled{
    background-color: gray;
    color: darkblue;
}

.hidden-menu-item{
    display: none;
    height: 0em;
    transition: 0.5s;
}

.campaign-fill{
    flex: 1;
    min-height: 600px;
}

.popup-new-campaign{
    background: none;    
    position: relative;
        margin: 10px auto;
    border: lightgray 1px solid;
    padding: 10px;
    width: 600px;
}

.hidden-popup, .hidden-page{
    display: none;
}

.new-campaign-form{    
    display: flex;
    flex-direction: column;
}

.main-textbox{    
    padding: 0.2em;
    margin: 0px 0px 10px 0px;
}

.campaign-save, .campaign-cancel{
    padding: 0.2em;
}

.campaign-save{    
    margin: 0px 0px 10px 0px;
}

.campaign-header{
    padding: 10px;
    background: lightgray;
}

.campaign-title{
    display: block;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 10px 0px;
    color: darkblue;
    border: none;
    background: none;
    width: 100%;
}

.campaign-setting-title{
    display: block;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 3px 0px;
    color: darkblue;
    border: none;
    background: none;
    width: 100%;
}

.error-text {
    color: darkred;
}

.campaign-navigation-list{
    display: flex;
    flex-direction: row;
}

.campaign-navigation-item{
    padding: 5px;
    flex: 1;
}

.campaign-navigation-item button{
    border: none;
    width: 100%;
    height: 3.5em;
    background: none;
    font-weight: 600;
}

.campaign-navigation-item button:hover{
    color: blue;
    text-decoration: underline;
}

.campaign-navigation-item button:active{
    margin: 2px 0 0 0;
}

.campaign-navigation-item button:disabled{
    background: darkblue;
    color: lightgray;
}

.campaign-card-page{
    display: flex;
    flex-direction: row;
    min-height: 400px;
}

.campaign-deck-bar{
    flex: 0 0 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
    position: sticky;
    top: 10px;
    height: 97vh;
}

.campaign-card-show{
    flex: 1;
}